body {
  background-color: #000080;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#desktop {
  width: 100%;
  /* this is for the task bar (e.g. 40px) */
  background-image: url('assets/images/pixel-art.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 40px);
  position: relative
}

.desktop-icons {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.d-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  cursor: pointer;
  text-align: center;
}


.icon-img {
  width: 64px;
  height: 64px;
  margin-bottom: 2px;
  image-rendering: pixelated;
  position: relative;
}

.icon-label {
  color: white;
  font-family: monospace;
  font-size: 11px;
  text-shadow: 1px 1px 1px black;
  padding: 2px 4px;
  margin-top: 54px;
  word-wrap: break-word;
  user-select: none;
  position: absolute;
}

.d-icon:hover .icon-label {
  background-color: #0a246a;
}




.start-button {
  width: 99px;
  height: 33px;
  background-image: url('assets/icons/XP_Button_ClearType.png');
  cursor: pointer;
  background-position: 0 -10px; 
  background-repeat: no-repeat;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent;
  will-change: background-position;
}

.start-button:hover {
  background-position: 0 -64px; 
}

.start-button:active {
  background-image: url('assets/icons/XP_Button_ClearType.png') !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-position: 0 -118px !important;
}

.start-button.is-active {
  background-position: 0 -118px !important;
}

.start-button.is-active:hover {
  background-position: 0 -118px !important;
}